<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketIO Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>
<body>
    <h1>SocketIO Test</h1>
    <p id="status">Not connected...</p>
    <p id="message"></p>

    <script type="text/javascript">
        // Connect to the Flask-SocketIO server
        var socket = io('https://flask-ehpad-fde5f2fndkd0f2gk.eastus-01.azurewebsites.net', 
        {
            transports: ['websocket'],
            reconnection: true,
            reconnectionAttempts: 5,
            reconnectionDelay: 1000
        });
    
        // Listen for connection
        socket.on('connect', function() {
            document.getElementById('status').innerText = 'Connected to SocketIO server!';
            console.log('Connected to SocketIO server');
        });

        // Listen for a "new_incident" event
        socket.on('notification', function(data) {
            console.log('New incident received:', data);
            document.getElementById('message').innerText = 'New incident: ' + JSON.stringify(data);
        });


        // Listen for disconnection
        socket.on('disconnect', function() {
            document.getElementById('status').innerText = 'Disconnected from SocketIO server';
            console.log('Disconnected from SocketIO server');
        });
    </script>
</body>
</html>